@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1b1b1b;
    --gray-50: oklch(22% 0 0);
    --lightness-100: 29.6725%;
    --lightness-200: 35.3616%;
    --lightness-300: 41.0821%;
    --lightness-400: 46.9058%;
    --lightness-500: 51.9076%;
    --lightness-600: 57.9699%;
    --lightness-700: 56.1347%;
    --lightness-800: 59.2866%;
    --lightness-900: 62.3039%;
    --lightness-1000: 67.0121%;
    --lightness-1100: 72.3297%;
    --lightness-1200: 79.1773%;
    --lightness-1300: 85.1751%;
    --lightness-1400: 91.1434%;
    --lightness-1500: 95.2045%;
    --lightness-1600: 100%;
    --highlight-hover: #ffffff1a;
    --highlight-pressed: #fff3;
    --overlay-background: var(--gray-100);
    --overlay-border: #fff3;
    --popover-shadow: 0 8px 20px #00000080;
  }
}

@media (forced-colors: active) {
  :root {
    --background-color: Canvas;
    --focus-ring-color: Highlight;
    --text-color: ButtonText;
    --text-color-hover: ButtonText;
    --text-color-disabled: GrayText;
    --text-color-placeholder: ButtonText;
    --link-color: LinkText;
    --link-color-secondary: LinkText;
    --link-color-pressed: LinkText;
    --border-color: ButtonBorder;
    --border-color-hover: ButtonBorder;
    --border-color-pressed: ButtonBorder;
    --border-color-disabled: GrayText;
    --field-background: Field;
    --field-text-color: FieldText;
    --overlay-background: Canvas;
    --overlay-border: ButtonBorder;
    --button-background: ButtonFace;
    --button-background-pressed: ButtonFace;
    --highlight-background: Highlight;
    --highlight-background-pressed: Highlight;
    --highlight-background-invalid: LinkText;
    --highlight-foreground: HighlightText;
    --invalid-color: LinkText;
  }
}

@media (resolution >= 200dpi) {
  :root {
    --spacing: calc(.25rem * 1.25);
    --font-size: 1.0625rem;
    --font-size-sm: .9375rem;
    --font-size-lg: 1.25rem;
  }
}

.react-aria-Heading {
  margin: 0;
}

@layer utilities {
  .button-base {
    --button-color: var(--tint);
    --button-background: oklch(from var(--button-color) var(--lightness-100) var(--chroma-100) h);
    --button-gradient: oklch(from var(--button-color) var(--lightness-200) var(--chroma-200) h);
    --button-border: oklch(from var(--button-color) var(--lightness-300) var(--chroma-300) h);
    --button-highlight: #fffc;
    --button-shadow: oklch(from var(--button-color) var(--lightness-400) var(--chroma-400) h);
    --button-border-size: 1px;
    --button-text: oklch(from var(--button-color) var(--lightness-1400) var(--chroma-1400) h);
    --button-gradient-size: 8px;
    background: var(--button-background);
    color: var(--button-text);
    box-shadow: inset 0 -1px 0 var(--button-shadow),
      /* bottom shadow */ inset 0 0 0 var(--button-border-size) var(--button-border),
      /* border */ inset 0px calc(var(--button-border-size) + 1px) 0px var(--button-highlight),
      /* top specular highlight */ inset 0px calc(-1 * var(--button-gradient-size))
        var(--button-gradient-size) -2px var(--button-gradient);
    will-change: scale;
    forced-color-adjust: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    transition-property: background, color, scale, box-shadow;
    transition-duration: .2s;

    @media (prefers-color-scheme: dark) {
      --button-shadow: oklch(from var(--button-color) var(--lightness-200) var(--chroma-200) h);
      --button-highlight: #ffffff26;
      box-shadow: inset 0 var(--button-border-size) 0 var(--button-highlight),
        /* top specular highlight */ inset 0 calc(-1 * var(--button-border-size)) 0
          var(--button-shadow),
        /* bottom shadow */ inset 0 0 0 var(--button-border-size) var(--button-border),
        /* border */ inset 0 var(--button-gradient-size) var(--button-gradient-size) -2px
          var(--button-gradient);
    }

    &:where([data-pressed]) {
      --button-background: oklch(from var(--button-color) var(--lightness-200) var(--chroma-200) h);
    }

    &:where([data-focus-visible]) {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: 2px;
    }

    &:where([data-variant="secondary"]) {
      --button-color: var(--gray);
    }

    &:where([data-variant="quiet"]) {
      --button-background: none;
      --button-text: var(--text-color);
      box-shadow: 0 0 0 1px #0000;

      &:where([data-hovered], [data-pressed]) {
        --button-background: var(--tint-200);
        --button-text: var(--tint-1400);
        box-shadow: 0 0 0 1px var(--tint-200);
      }
    }

    &:where([data-selected]) {
      --button-background: oklch(from var(--button-color) 55% c h);
      --button-border: oklch(from var(--button-color) 50% c h);
      --button-gradient: var(--button-border);
      --button-highlight: #fff3;
      --button-shadow: oklch(from var(--button-color) 30% c h);
      --button-text: var(--highlight-foreground);
      box-shadow: inset 0 -1px 0 var(--button-shadow),
        /* bottom shadow */ inset 0 0 0 1px var(--button-border),
        /* border */ inset 0 2px 0 var(--button-highlight),
        /* top specular highlight */ inset 0 calc(-1 * var(--button-gradient-size))
          var(--button-gradient-size) var(--button-gradient);

      @media (prefers-color-scheme: dark) {
        --button-highlight: #fff6;
        --button-gradient: #fff3;
        --button-shadow: var(--button-border);
        box-shadow: inset 0 1px 0 var(--button-highlight),
          /* top specular highlight */ inset 0 var(--button-gradient-size)
            var(--button-gradient-size) var(--button-gradient),
          /* inner gradient */ inset 0 0 0 1px var(--button-border);
      }

      &:where([data-pressed]) {
        --button-background: oklch(from var(--button-color) 50% c h);
      }
    }

    &:where([data-disabled]) {
      box-shadow: none;
      --button-background: var(--border-color-disabled);
      --button-text: var(--text-color-disabled);

      &:where([data-variant="quiet"]) {
        --button-background: none;
      }
    }

    @media (forced-colors: active) {
      --button-background: ButtonFace;
      --button-text: ButtonText;
      --button-border: ButtonBorder;
      box-shadow: inset 0 0 0 var(--button-border-size) var(--button-border);

      &:where([data-variant="quiet"]) {
        --button-border: transparent;

        &:where([data-hovered], [data-pressed]) {
          --button-border: ButtonBorder;
        }
      }

      &:where([data-selected]) {
        --button-background: Highlight;
        --button-text: HighlightText;
        --button-border: Highlight;
      }

      &:where([data-disabled]) {
        --button-background: ButtonFace;
        --button-text: GrayText;
        --button-border: GrayText;

        &:where([data-variant="quiet"]) {
          --button-border: transparent;
        }
      }
    }
  }

  .indicator {
    --indicator-color: var(--gray);
    --indicator-background: oklch(from var(--indicator-color) var(--lightness-100) var(--chroma-100) h);
    --indicator-border: oklch(from var(--indicator-color) var(--lightness-800) var(--chroma-800) h);
    --indicator-drop-shadow: 0 0;
    background: var(--indicator-background);
    box-shadow: inset 0 0 0 1px var(--indicator-border),
      /* border */ inset 0 2px 0 white,
      /* top specular highlight */ inset 0 -4px 2px
        oklch(from var(--indicator-color) 30% c h / .08),
      /* inner gradient */ var(--indicator-drop-shadow);
    will-change: scale;

    @media (prefers-color-scheme: dark) {
      box-shadow: inset 0 1px 0 #fff6,
        /* top specular highlight */ inset 0 4px 2px #ffffff1a,
        /* inner shadow */ inset 0 0 0 1px var(--indicator-border),
        /* border */ var(--indicator-drop-shadow);
    }

    @media (forced-colors: active) {
      --indicator-background: ButtonFace;
      --indicator-border: ButtonBorder;
      box-shadow: inset 0 0 0 1px var(--indicator-border);
    }

    &[data-pressed], [data-pressed] & {
      scale: .9;
    }

    [data-selected] > &, [data-indeterminate] > & {
      --indicator-color: var(--highlight-background);
      --indicator-background: var(--indicator-color);
      --indicator-highlight: #ffffff4d;
      --indicator-shadow: oklch(from var(--indicator-color) 45% c h);
      --indicator-border: var(--indicator-background);
      box-shadow: inset 0 -1px 0 var(--indicator-shadow),
        /* bottom shadow */ inset 0 0 0 1px var(--indicator-border),
        /* border */ inset 0 2px 0 var(--indicator-highlight),
        /* top specular highlight */ var(--indicator-drop-shadow);

      @media (prefers-color-scheme: dark) {
        --indicator-highlight: #ffffff80;
        --indicator-gradient: #ffffff1f;
        box-shadow: inset 0 1px 0 var(--indicator-highlight),
          /* top specular highlight */ inset 0 4px 2px var(--indicator-gradient),
          /* inner gradient */ inset 0 0 0 1px var(--indicator-border),
          /* border */ var(--indicator-drop-shadow);
      }

      @media (forced-colors: active) {
        box-shadow: none;
      }
    }

    &[data-invalid], [data-invalid] > & {
      --indicator-color: var(--invalid-color);

      @media (forced-colors: active) {
        --indicator-border: var(--invalid-color);
      }
    }

    &[data-focus-visible], [data-focus-visible] > & {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: 2px;
    }

    &[data-disabled], [data-disabled] > & {
      background: var(--field-background);
      box-shadow: inset 0 0 0 1px var(--border-color-disabled);
    }
  }

  .inset {
    --inset-background: var(--field-background);
    --inset-border: var(--border-color);
    --inset-border-size: 1px;
    --inset-shadow-offset: 2px;
    --inset-shadow-size: 4px;
    background: var(--inset-background);
    box-shadow: inset 0 0 0 var(--inset-border-size) var(--inset-border),
      /* border */ inset 0 var(--inset-shadow-offset) var(--inset-shadow-size) #00000026,
      /* inner shadow */ 0 1px 0 var(--gray-50);
    forced-color-adjust: none;
    transition: box-shadow .2s;

    @media (prefers-color-scheme: dark) {
      --inset-border: var(--gray-200);
      --border-color-hover: var(--gray-300);
      --inset-highlight: var(--gray-400);
      --inset-shadow-size: 6px;
      box-shadow: inset 0 calc(-1 * var(--inset-border-size)) 0 var(--inset-highlight),
        /* bottom specular highlight */ inset 0 0 0 var(--inset-border-size) var(--inset-border),
        /* border */ inset 0 1px var(--inset-shadow-size) #000;
    }

    &:where([data-hovered], [data-pressed]) {
      --inset-border: var(--border-color-hover);
    }

    @media (forced-colors: active) {
      --inset-border: ButtonBorder;
      box-shadow: inset 0 0 0 var(--inset-border-size) var(--inset-border);
    }

    &:where([data-invalid]) {
      --inset-border: var(--invalid-color);
      --inset-highlight: var(--inset-border);
    }

    &:where([data-disabled]) {
      box-shadow: inset 0 0 0 1px var(--border-color-disabled);
    }

    &.track {
      --inset-shadow-offset: 1px;
      --inset-shadow-size: 3px;

      @media (prefers-color-scheme: light) {
        --inset-background: var(--gray-300);
        --inset-border: var(--gray-500);
        --inset-border-size: .5px;
      }

      @media (forced-colors: active) {
        --inset-background: Field;
        --inset-border: ButtonBorder;
        --inset-border-size: 1px;
      }
    }
  }

  .button-base {
    --button-color: var(--tint);
    --button-background: oklch(from var(--button-color) var(--lightness-100) var(--chroma-100) h);
    --button-gradient: oklch(from var(--button-color) var(--lightness-200) var(--chroma-200) h);
    --button-border: oklch(from var(--button-color) var(--lightness-300) var(--chroma-300) h);
    --button-highlight: #fffc;
    --button-shadow: oklch(from var(--button-color) var(--lightness-400) var(--chroma-400) h);
    --button-border-size: 1px;
    --button-text: oklch(from var(--button-color) var(--lightness-1400) var(--chroma-1400) h);
    --button-gradient-size: 8px;
    background: var(--button-background);
    color: var(--button-text);
    box-shadow: inset 0 -1px 0 var(--button-shadow),
      /* bottom shadow */ inset 0 0 0 var(--button-border-size) var(--button-border),
      /* border */ inset 0px calc(var(--button-border-size) + 1px) 0px var(--button-highlight),
      /* top specular highlight */ inset 0px calc(-1 * var(--button-gradient-size))
        var(--button-gradient-size) -2px var(--button-gradient);
    will-change: scale;
    forced-color-adjust: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    transition-property: background, color, scale, box-shadow;
    transition-duration: .2s;

    @media (prefers-color-scheme: dark) {
      --button-shadow: oklch(from var(--button-color) var(--lightness-200) var(--chroma-200) h);
      --button-highlight: #ffffff26;
      box-shadow: inset 0 var(--button-border-size) 0 var(--button-highlight),
        /* top specular highlight */ inset 0 calc(-1 * var(--button-border-size)) 0
          var(--button-shadow),
        /* bottom shadow */ inset 0 0 0 var(--button-border-size) var(--button-border),
        /* border */ inset 0 var(--button-gradient-size) var(--button-gradient-size) -2px
          var(--button-gradient);
    }

    &:where([data-pressed]) {
      --button-background: oklch(from var(--button-color) var(--lightness-200) var(--chroma-200) h);
    }

    &:where([data-focus-visible]) {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: 2px;
    }

    &:where([data-variant="secondary"]) {
      --button-color: var(--gray);
    }

    &:where([data-variant="quiet"]) {
      --button-background: none;
      --button-text: var(--text-color);
      box-shadow: 0 0 0 1px #0000;

      &:where([data-hovered], [data-pressed]) {
        --button-background: var(--tint-200);
        --button-text: var(--tint-1400);
        box-shadow: 0 0 0 1px var(--tint-200);
      }
    }

    &:where([data-selected]) {
      --button-background: oklch(from var(--button-color) 55% c h);
      --button-border: oklch(from var(--button-color) 50% c h);
      --button-gradient: var(--button-border);
      --button-highlight: #fff3;
      --button-shadow: oklch(from var(--button-color) 30% c h);
      --button-text: var(--highlight-foreground);
      box-shadow: inset 0 -1px 0 var(--button-shadow),
        /* bottom shadow */ inset 0 0 0 1px var(--button-border),
        /* border */ inset 0 2px 0 var(--button-highlight),
        /* top specular highlight */ inset 0 calc(-1 * var(--button-gradient-size))
          var(--button-gradient-size) var(--button-gradient);

      @media (prefers-color-scheme: dark) {
        --button-highlight: #fff6;
        --button-gradient: #fff3;
        --button-shadow: var(--button-border);
        box-shadow: inset 0 1px 0 var(--button-highlight),
          /* top specular highlight */ inset 0 var(--button-gradient-size)
            var(--button-gradient-size) var(--button-gradient),
          /* inner gradient */ inset 0 0 0 1px var(--button-border);
      }

      &:where([data-pressed]) {
        --button-background: oklch(from var(--button-color) 50% c h);
      }
    }

    &:where([data-disabled]) {
      box-shadow: none;
      --button-background: var(--border-color-disabled);
      --button-text: var(--text-color-disabled);

      &:where([data-variant="quiet"]) {
        --button-background: none;
      }
    }

    @media (forced-colors: active) {
      --button-background: ButtonFace;
      --button-text: ButtonText;
      --button-border: ButtonBorder;
      box-shadow: inset 0 0 0 var(--button-border-size) var(--button-border);

      &:where([data-variant="quiet"]) {
        --button-border: transparent;

        &:where([data-hovered], [data-pressed]) {
          --button-border: ButtonBorder;
        }
      }

      &:where([data-selected]) {
        --button-background: Highlight;
        --button-text: HighlightText;
        --button-border: Highlight;
      }

      &:where([data-disabled]) {
        --button-background: ButtonFace;
        --button-text: GrayText;
        --button-border: GrayText;

        &:where([data-variant="quiet"]) {
          --button-border: transparent;
        }
      }
    }
  }

  .indicator {
    --indicator-color: var(--gray);
    --indicator-background: oklch(from var(--indicator-color) var(--lightness-100) var(--chroma-100) h);
    --indicator-border: oklch(from var(--indicator-color) var(--lightness-800) var(--chroma-800) h);
    --indicator-drop-shadow: 0 0;
    background: var(--indicator-background);
    box-shadow: inset 0 0 0 1px var(--indicator-border),
      /* border */ inset 0 2px 0 white,
      /* top specular highlight */ inset 0 -4px 2px
        oklch(from var(--indicator-color) 30% c h / .08),
      /* inner gradient */ var(--indicator-drop-shadow);
    will-change: scale;

    @media (prefers-color-scheme: dark) {
      box-shadow: inset 0 1px 0 #fff6,
        /* top specular highlight */ inset 0 4px 2px #ffffff1a,
        /* inner shadow */ inset 0 0 0 1px var(--indicator-border),
        /* border */ var(--indicator-drop-shadow);
    }

    @media (forced-colors: active) {
      --indicator-background: ButtonFace;
      --indicator-border: ButtonBorder;
      box-shadow: inset 0 0 0 1px var(--indicator-border);
    }

    &[data-pressed], [data-pressed] & {
      scale: .9;
    }

    [data-selected] > &, [data-indeterminate] > & {
      --indicator-color: var(--highlight-background);
      --indicator-background: var(--indicator-color);
      --indicator-highlight: #ffffff4d;
      --indicator-shadow: oklch(from var(--indicator-color) 45% c h);
      --indicator-border: var(--indicator-background);
      box-shadow: inset 0 -1px 0 var(--indicator-shadow),
        /* bottom shadow */ inset 0 0 0 1px var(--indicator-border),
        /* border */ inset 0 2px 0 var(--indicator-highlight),
        /* top specular highlight */ var(--indicator-drop-shadow);

      @media (prefers-color-scheme: dark) {
        --indicator-highlight: #ffffff80;
        --indicator-gradient: #ffffff1f;
        box-shadow: inset 0 1px 0 var(--indicator-highlight),
          /* top specular highlight */ inset 0 4px 2px var(--indicator-gradient),
          /* inner gradient */ inset 0 0 0 1px var(--indicator-border),
          /* border */ var(--indicator-drop-shadow);
      }

      @media (forced-colors: active) {
        box-shadow: none;
      }
    }

    &[data-invalid], [data-invalid] > & {
      --indicator-color: var(--invalid-color);

      @media (forced-colors: active) {
        --indicator-border: var(--invalid-color);
      }
    }

    &[data-focus-visible], [data-focus-visible] > & {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: 2px;
    }

    &[data-disabled], [data-disabled] > & {
      background: var(--field-background);
      box-shadow: inset 0 0 0 1px var(--border-color-disabled);
    }
  }

  .inset {
    --inset-background: var(--field-background);
    --inset-border: var(--border-color);
    --inset-border-size: 1px;
    --inset-shadow-offset: 2px;
    --inset-shadow-size: 4px;
    background: var(--inset-background);
    box-shadow: inset 0 0 0 var(--inset-border-size) var(--inset-border),
      /* border */ inset 0 var(--inset-shadow-offset) var(--inset-shadow-size) #00000026,
      /* inner shadow */ 0 1px 0 var(--gray-50);
    forced-color-adjust: none;
    transition: box-shadow .2s;

    @media (prefers-color-scheme: dark) {
      --inset-border: var(--gray-200);
      --border-color-hover: var(--gray-300);
      --inset-highlight: var(--gray-400);
      --inset-shadow-size: 6px;
      box-shadow: inset 0 calc(-1 * var(--inset-border-size)) 0 var(--inset-highlight),
        /* bottom specular highlight */ inset 0 0 0 var(--inset-border-size) var(--inset-border),
        /* border */ inset 0 1px var(--inset-shadow-size) #000;
    }

    &:where([data-hovered], [data-pressed]) {
      --inset-border: var(--border-color-hover);
    }

    @media (forced-colors: active) {
      --inset-border: ButtonBorder;
      box-shadow: inset 0 0 0 var(--inset-border-size) var(--inset-border);
    }

    &:where([data-invalid]) {
      --inset-border: var(--invalid-color);
      --inset-highlight: var(--inset-border);
    }

    &:where([data-disabled]) {
      box-shadow: inset 0 0 0 1px var(--border-color-disabled);
    }

    &.track {
      --inset-shadow-offset: 1px;
      --inset-shadow-size: 3px;

      @media (prefers-color-scheme: light) {
        --inset-background: var(--gray-300);
        --inset-border: var(--gray-500);
        --inset-border-size: .5px;
      }

      @media (forced-colors: active) {
        --inset-background: Field;
        --inset-border: ButtonBorder;
        --inset-border-size: 1px;
      }
    }
  }
}

.react-aria-Form {
  gap: var(--spacing-6);
  flex-direction: column;
  display: flex;

  & > .react-aria-Button {
    align-self: start;
  }
}

.react-aria-Form [role="alert"] {
  border: 2px solid var(--invalid-color);
  background: var(--overlay-background);
  border-radius: 6px;
  outline: none;
  max-width: 250px;
  padding: 12px;

  &:focus {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  & h3 {
    margin-top: 0;
  }

  & p {
    margin-bottom: 0;
  }
}

.field-description {
  font: var(--font-size-sm) system-ui;
  margin-top: var(--spacing-1);
  contain: inline-size;
  display: block;

  [data-invalid] > & {
    display: none;
  }
}

.field-Button {
  background: var(--tint-200);
  color: var(--tint-1400);
  forced-color-adjust: none;
  border-radius: var(--radius-sm);
  margin-left: calc(-1 * var(--spacing-8) + 4px);
  aspect-ratio: 1;
  -webkit-tap-highlight-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  height: calc(100% - 8px);
  padding: 0;
  transition-property: scale, background;
  transition-duration: .2s;
  display: flex;

  & svg {
    width: var(--spacing-4);
    height: var(--spacing-4);
  }

  &:where([data-hovered], [data-pressed]) {
    background: var(--tint-300);
    color: var(--tint-1200);
  }

  @media (forced-colors: active) {
    color: highlighttext;
    background: highlight;
  }

  &[data-pressed] {
    scale: .9;
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-disabled] {
    color: var(--text-color-disabled);
    background: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1b1b1b;
    --gray-50: oklch(22% 0 0);
    --lightness-100: 29.6725%;
    --lightness-200: 35.3616%;
    --lightness-300: 41.0821%;
    --lightness-400: 46.9058%;
    --lightness-500: 51.9076%;
    --lightness-600: 57.9699%;
    --lightness-700: 56.1347%;
    --lightness-800: 59.2866%;
    --lightness-900: 62.3039%;
    --lightness-1000: 67.0121%;
    --lightness-1100: 72.3297%;
    --lightness-1200: 79.1773%;
    --lightness-1300: 85.1751%;
    --lightness-1400: 91.1434%;
    --lightness-1500: 95.2045%;
    --lightness-1600: 100%;
    --highlight-hover: #ffffff1a;
    --highlight-pressed: #fff3;
    --overlay-background: var(--gray-100);
    --overlay-border: #fff3;
    --popover-shadow: 0 8px 20px #00000080;
  }
}

@media (forced-colors: active) {
  :root {
    --background-color: Canvas;
    --focus-ring-color: Highlight;
    --text-color: ButtonText;
    --text-color-hover: ButtonText;
    --text-color-disabled: GrayText;
    --text-color-placeholder: ButtonText;
    --link-color: LinkText;
    --link-color-secondary: LinkText;
    --link-color-pressed: LinkText;
    --border-color: ButtonBorder;
    --border-color-hover: ButtonBorder;
    --border-color-pressed: ButtonBorder;
    --border-color-disabled: GrayText;
    --field-background: Field;
    --field-text-color: FieldText;
    --overlay-background: Canvas;
    --overlay-border: ButtonBorder;
    --button-background: ButtonFace;
    --button-background-pressed: ButtonFace;
    --highlight-background: Highlight;
    --highlight-background-pressed: Highlight;
    --highlight-background-invalid: LinkText;
    --highlight-foreground: HighlightText;
    --invalid-color: LinkText;
  }
}

@media (resolution >= 200dpi) {
  :root {
    --spacing: calc(.25rem * 1.25);
    --font-size: 1.0625rem;
    --font-size-sm: .9375rem;
    --font-size-lg: 1.25rem;
  }
}

:root {
  --tint: var(--indigo);
  --gray: oklch(50% 0 0);
  --red: oklch(60% .181447 27.0726);
  --orange: oklch(70% .150492 54);
  --yellow: oklch(80% .128516 73.8032);
  --turquoise: oklch(50% .081146 205.114);
  --cyan: oklch(40% .142107 243.926);
  --green: oklch(50% .121276 155.372);
  --blue: oklch(50% .22049 266.315);
  --indigo: oklch(100% .25049 284.23);
  --purple: oklch(70% .223324 302);
  --pink: oklch(60% .177717 347.813);
  --tint-100: oklch(from var(--tint) var(--lightness-100) var(--chroma-100) h);
  --tint-200: oklch(from var(--tint) var(--lightness-200) var(--chroma-200) h);
  --tint-300: oklch(from var(--tint) var(--lightness-300) var(--chroma-300) h);
  --tint-400: oklch(from var(--tint) var(--lightness-400) var(--chroma-400) h);
  --tint-500: oklch(from var(--tint) var(--lightness-500) var(--chroma-500) h);
  --tint-600: oklch(from var(--tint) var(--lightness-600) var(--chroma-600) h);
  --tint-700: oklch(from var(--tint) var(--lightness-700) var(--chroma-700) h);
  --tint-800: oklch(from var(--tint) var(--lightness-800) var(--chroma-800) h);
  --tint-900: oklch(from var(--tint) var(--lightness-900) var(--chroma-900) h);
  --tint-1000: oklch(from var(--tint) var(--lightness-1000) var(--chroma-1000) h);
  --tint-1100: oklch(from var(--tint) var(--lightness-1100) var(--chroma-1100) h);
  --tint-1200: oklch(from var(--tint) var(--lightness-1200) var(--chroma-1200) h);
  --tint-1300: oklch(from var(--tint) var(--lightness-1300) var(--chroma-1300) h);
  --tint-1400: oklch(from var(--tint) var(--lightness-1400) var(--chroma-1400) h);
  --tint-1500: oklch(from var(--tint) var(--lightness-1500) var(--chroma-1500) h);
  --tint-1600: oklch(from var(--tint) var(--lightness-1600) var(--chroma-1600) h);
  --gray-100: oklch(from var(--gray) var(--lightness-100) c h);
  --gray-200: oklch(from var(--gray) var(--lightness-200) c h);
  --gray-300: oklch(from var(--gray) var(--lightness-300) c h);
  --gray-400: oklch(from var(--gray) var(--lightness-400) c h);
  --gray-500: oklch(from var(--gray) var(--lightness-500) c h);
  --gray-600: oklch(from var(--gray) var(--lightness-600) c h);
  --gray-700: oklch(from var(--gray) var(--lightness-700) c h);
  --gray-800: oklch(from var(--gray) var(--lightness-800) c h);
  --gray-900: oklch(from var(--gray) var(--lightness-900) c h);
  --gray-1000: oklch(from var(--gray) var(--lightness-1000) c h);
  --gray-1100: oklch(from var(--gray) var(--lightness-1100) c h);
  --gray-1200: oklch(from var(--gray) var(--lightness-1200) c h);
  --gray-1300: oklch(from var(--gray) var(--lightness-1300) c h);
  --gray-1400: oklch(from var(--gray) var(--lightness-1400) c h);
  --gray-1500: oklch(from var(--gray) var(--lightness-1500) c h);
  --gray-1600: oklch(from var(--gray) var(--lightness-1600) c h);
  --background-color: #f8f8f8;
  --gray-50: #fff;
  --lightness-100: 98.1187%;
  --lightness-200: 95.2045%;
  --lightness-300: 91.1434%;
  --lightness-400: 85.1751%;
  --lightness-500: 79.1773%;
  --lightness-600: 72.3297%;
  --lightness-700: 67.0121%;
  --lightness-800: 62.3039%;
  --lightness-900: 57.9699%;
  --lightness-1000: 51.9076%;
  --lightness-1100: 46.9058%;
  --lightness-1200: 41.0821%;
  --lightness-1300: 35.3616%;
  --lightness-1400: 29.6725%;
  --lightness-1500: 24.5366%;
  --lightness-1600: 16.6959%;
  --chroma-100: calc(l * c * .5);
  --chroma-200: calc(l * c * .6);
  --chroma-300: calc(l * c * .7);
  --chroma-400: calc(l * c * .8);
  --chroma-500: calc(l * c * .9);
  --chroma-600: c;
  --chroma-700: c;
  --chroma-800: c;
  --chroma-900: c;
  --chroma-1000: c;
  --chroma-1100: c;
  --chroma-1200: c;
  --chroma-1300: c;
  --chroma-1400: c;
  --chroma-1500: c;
  --chroma-1600: c;
  --highlight-hover: #00000012;
  --highlight-pressed: #00000026;
  --overlay-background: var(--gray-50);
  --overlay-border: #0000000f;
  --popover-shadow: 0 8px 20px #0000001f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1b1b1b;
    --gray-50: oklch(22% 0 0);
    --lightness-100: 29.6725%;
    --lightness-200: 35.3616%;
    --lightness-300: 41.0821%;
    --lightness-400: 46.9058%;
    --lightness-500: 51.9076%;
    --lightness-600: 57.9699%;
    --lightness-700: 56.1347%;
    --lightness-800: 59.2866%;
    --lightness-900: 62.3039%;
    --lightness-1000: 67.0121%;
    --lightness-1100: 72.3297%;
    --lightness-1200: 79.1773%;
    --lightness-1300: 85.1751%;
    --lightness-1400: 91.1434%;
    --lightness-1500: 95.2045%;
    --lightness-1600: 100%;
    --highlight-hover: #ffffff1a;
    --highlight-pressed: #fff3;
    --overlay-background: var(--gray-100);
    --overlay-border: #fff3;
    --popover-shadow: 0 8px 20px #00000080;
  }
}

:root {
  --focus-ring-color: var(--tint-1000);
  --text-color: var(--gray-1200);
  --text-color-hover: var(--gray-1300);
  --text-color-disabled: var(--gray-600);
  --text-color-placeholder: var(--gray-1000);
  --link-color: var(--tint-1200);
  --link-color-secondary: var(--gray-1200);
  --link-color-pressed: var(--tint-1300);
  --border-color: var(--gray-400);
  --border-color-hover: var(--gray-500);
  --border-color-disabled: var(--gray-300);
  --field-text-color: var(--gray-1400);
  --button-background: var(--tint-100);
  --button-background-pressed: var(--tint-200);
  --highlight-background: oklch(from var(--tint) 55% c h);
  --highlight-background-pressed: oklch(from var(--tint) 50% c h);
  --highlight-background-invalid: oklch(from var(--red) var(--lightness-900) c h);
  --highlight-foreground: white;
  --highlight-overlay: oklch(from var(--tint-1000) l c h / 15%);
  --invalid-color: oklch(from var(--red) var(--lightness-1000) c h);
  --field-background: var(--gray-50);
}

@media (forced-colors: active) {
  :root {
    --background-color: Canvas;
    --focus-ring-color: Highlight;
    --text-color: ButtonText;
    --text-color-hover: ButtonText;
    --text-color-disabled: GrayText;
    --text-color-placeholder: ButtonText;
    --link-color: LinkText;
    --link-color-secondary: LinkText;
    --link-color-pressed: LinkText;
    --border-color: ButtonBorder;
    --border-color-hover: ButtonBorder;
    --border-color-pressed: ButtonBorder;
    --border-color-disabled: GrayText;
    --field-background: Field;
    --field-text-color: FieldText;
    --overlay-background: Canvas;
    --overlay-border: ButtonBorder;
    --button-background: ButtonFace;
    --button-background-pressed: ButtonFace;
    --highlight-background: Highlight;
    --highlight-background-pressed: Highlight;
    --highlight-background-invalid: LinkText;
    --highlight-foreground: HighlightText;
    --invalid-color: LinkText;
  }
}

:root {
  --font-size: .875rem;
  --font-size-sm: .75rem;
  --font-size-lg: 1rem;
  --radius: 8px;
  --radius-sm: 6px;
  --radius-lg: 10px;
  --radius-xl: 16px;
  --spacing: .25rem;
  --spacing-1: var(--spacing);
  --spacing-2: calc(2 * var(--spacing));
  --spacing-3: calc(3 * var(--spacing));
  --spacing-4: calc(4 * var(--spacing));
  --spacing-5: calc(5 * var(--spacing));
  --spacing-6: calc(6 * var(--spacing));
  --spacing-7: calc(7 * var(--spacing));
  --spacing-8: calc(8 * var(--spacing));
  --spacing-9: calc(9 * var(--spacing));
  --spacing-10: calc(10 * var(--spacing));
}

@media (resolution >= 200dpi) {
  :root {
    --spacing: calc(.25rem * 1.25);
    --font-size: 1.0625rem;
    --font-size-sm: .9375rem;
    --font-size-lg: 1.25rem;
  }
}

.react-aria-Form {
  gap: var(--spacing-6);
  flex-direction: column;
  display: flex;

  & > .react-aria-Button {
    align-self: start;
  }
}

.react-aria-Form [role="alert"] {
  border: 2px solid var(--invalid-color);
  background: var(--overlay-background);
  border-radius: 6px;
  outline: none;
  max-width: 250px;
  padding: 12px;

  &:focus {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  & h3 {
    margin-top: 0;
  }

  & p {
    margin-bottom: 0;
  }
}

.react-aria-Label {
  font: var(--font-size) system-ui;
  color: var(--text-color);
  margin-bottom: var(--spacing-2);
  cursor: default;
  font-weight: 500;
  display: block;
}

.react-aria-FieldError {
  font: var(--font-size-sm) system-ui;
  color: var(--invalid-color);
  margin-top: var(--spacing-1);
  contain: inline-size;
  display: block;
}

.field-description {
  font: var(--font-size-sm) system-ui;
  margin-top: var(--spacing-1);
  contain: inline-size;
  display: block;

  [data-invalid] > & {
    display: none;
  }
}

.field-Button {
  background: var(--tint-200);
  color: var(--tint-1400);
  forced-color-adjust: none;
  border-radius: var(--radius-sm);
  margin-left: calc(-1 * var(--spacing-8) + 4px);
  aspect-ratio: 1;
  -webkit-tap-highlight-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  height: calc(100% - 8px);
  padding: 0;
  transition-property: scale, background;
  transition-duration: .2s;
  display: flex;

  & svg {
    width: var(--spacing-4);
    height: var(--spacing-4);
  }

  &:where([data-hovered], [data-pressed]) {
    background: var(--tint-300);
    color: var(--tint-1200);
  }

  @media (forced-colors: active) {
    color: highlighttext;
    background: highlight;
  }

  &[data-pressed] {
    scale: .9;
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-disabled] {
    color: var(--text-color-disabled);
    background: none;
  }
}

.react-aria-TagGroup {
  font: var(--font-size) system-ui;
  color: var(--text-color);
  flex-direction: column;
  display: flex;

  & [slot="errorMessage"] {
    margin-top: var(--spacing);
    font-size: var(--font-size-sm);
    color: var(--invalid-color);
  }
}

.react-aria-TagList {
  gap: var(--spacing-2);
  flex-wrap: wrap;
  display: flex;
}

.react-aria-Tag {
  --button-color: var(--gray);
  --button-gradient-size: 4px;
  text-shadow: none;
  forced-color-adjust: none;
  height: var(--spacing-5);
  padding: 0 var(--spacing-3);
  font: var(--font-size-sm) system-ui;
  cursor: default;
  align-items: center;
  gap: var(--spacing-1);
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;
  border-radius: 9999px;
  transition-property: scale, background, border-color, box-shadow, text-shadow;
  transition-duration: .2s;
  display: flex;
  overflow: hidden;

  &:has(.remove-button) {
    padding: 0 var(--spacing-1) 0 var(--spacing-2);
  }

  &[data-pressed] {
    scale: .96;
  }

  &[data-selected] {
    --button-color: var(--tint);
  }

  &[data-href] {
    cursor: pointer;
    text-decoration: none;
  }

  & .remove-button {
    appearance: none;
    color: var(--gray-1000);
    font: inherit;
    aspect-ratio: 1;
    -webkit-tap-highlight-color: transparent;
    background: none;
    border: none;
    border-radius: 100%;
    outline: none;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 0;
    height: calc(100% - 4px);
    margin: 0;
    padding: 0;
    transition: background .2s, color .2s, scale .2s;
    display: flex;

    & svg {
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }

    &:where([data-hovered], [data-pressed]) {
      background: var(--gray-300);
      color: var(--gray-1200);
    }

    @media (forced-colors: active) {
      color: buttontext;
      background: buttonface;
    }

    &[data-pressed] {
      scale: .9;
    }

    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -1px;
    }
  }

  &[data-selected] {
    & .remove-button {
      color: inherit;

      &[data-hovered] {
        background: #fff3;
      }
    }
  }
}

html {
  color-scheme: light dark;
  font-family: system-ui;
}

.PTH6HW_tree {
  background: #fff;
  border: 1px solid gray;
  width: 300px;
  height: 300px;
  margin: 4px 0 0;
  display: block;
  overflow: auto;

  & .react-aria-DropIndicator {
    margin-inline-start: calc(var(--tree-item-level) * 15px);
  }

  & .react-aria-DropIndicator[data-drop-target] {
    outline: 1px solid #6a5acd;
  }

  &[data-drop-target] {
    outline-offset: -2px;
    background: #80008033;
    outline: 2px solid purple;
  }
}

.PTH6HW_tree-item {
  cursor: default;
  color: #000;
  background: none;
  outline: none;
  padding: 4px 5px;
  display: flex;

  & .PTH6HW_content-wrapper {
    gap: 2px;
    display: flex;
  }

  & .PTH6HW_button, & [slot="chevron"] {
    color: #000;
    background-color: #0000;
    border: none;
  }

  & [slot="chevron"] {
    outline: none;
    width: 20px;
    height: 20px;

    &[data-focus-visible] {
      outline: 2px solid purple;
    }
  }

  &.PTH6HW_focus-visible {
    outline-offset: -2px;
    outline: 2px solid purple;
  }

  &.PTH6HW_hovered.PTH6HW_hovered {
    color: #fff;
    background: #ffa07a;
  }

  &.PTH6HW_selected {
    color: #fff;
    background: #20b2aa;
  }

  &.PTH6HW_drop-target {
    outline-offset: -2px;
    background: #80008033;
    outline: 2px solid purple;
  }
}

.PTH6HW_menu {
  background: #d3d3d3;
  border: 1px solid gray;
  width: fit-content;
  min-width: 150px;
  margin: 4px 0 0;
  display: block;
}

.PTH6HW_menu, .PTH6HW_group {
  max-height: inherit;
  padding: 0;
  list-style: none;
  overflow-y: auto;
}

.PTH6HW_item {
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
  color: #000;
  background: none;
  outline: none;
  grid-template-areas: "PTH6HW_label PTH6HW_kbd"
                       "PTH6HW_description PTH6HW_kbd";
  padding: 2px 5px;
  display: grid;
  overflow: hidden;

  & [slot="label"] {
    font-weight: semibold;
    grid-area: PTH6HW_label;
  }

  & [slot="description"] {
    grid-area: PTH6HW_description;
    font-size: small;
  }

  & kbd {
    grid-area: PTH6HW_kbd;
    place-self: center end;
  }
}

.PTH6HW_item[data-disabled] {
  opacity: .4;
}

.PTH6HW_item.PTH6HW_focused {
  color: #fff;
  background: gray;
}

.PTH6HW_item.PTH6HW_focusVisible {
  outline-offset: -2px;
  outline: 3px solid #000;
}

.PTH6HW_item.PTH6HW_open:not(.PTH6HW_focused) {
  color: #fff;
  background: #789;
}

.PTH6HW_item.PTH6HW_item.PTH6HW_hovered {
  color: #fff;
  background: #ffa07a;
}

.PTH6HW_item.PTH6HW_selected {
  color: #fff;
  background: purple;
}

.PTH6HW_item[data-has-submenu]:not(.PTH6HW_unavailable):after {
  content: "›";
  content: "›" / "";
  justify-self: end;
}

.PTH6HW_popover[data-trigger="SubmenuTrigger"][data-placement="right"] {
  margin-left: -8px;
}

.PTH6HW_popover[data-trigger="SubmenuTrigger"][data-placement="left"] {
  margin-right: -8px;
}

.PTH6HW_unavailable-popover {
  background: #d3d3d3;
  border: 1px solid gray;

  &[data-placement="right"] {
    margin-left: -8px;
  }

  &[data-placement="left"] {
    margin-right: -8px;
  }
}

.PTH6HW_wrapper {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.PTH6HW_field {
  color: fieldtext;
  background: field;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 2px 4px;
}

.PTH6HW_field:focus-within {
  border-color: #00f;
}

.PTH6HW_segment {
  font-variant-numeric: tabular-nums;
  text-align: end;
  padding: 0 2px;
}

.PTH6HW_segment.PTH6HW_placeholder {
  color: gray;
}

.PTH6HW_segment:focus {
  color: #fff;
  caret-color: #0000;
  background: #00f;
  border-radius: 2px;
  outline: none;
}

.PTH6HW_slider {
  display: flex;

  & .PTH6HW_label {
    justify-content: space-between;
    display: flex;
  }

  & .PTH6HW_track {
    position: relative;
  }

  &[data-disabled] {
    & .PTH6HW_track {
      opacity: .4;
    }
  }

  & .PTH6HW_track:before {
    content: "";
    background: gray;
    display: block;
    position: absolute;
  }

  & .PTH6HW_thumb {
    background: gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    &[data-dragging] {
      background: #696969;
    }

    &[data-focus-visible] {
      background: orange;
    }
  }

  &[data-orientation="horizontal"] {
    flex-direction: column;
    width: 300px;

    & .PTH6HW_track {
      width: 100%;
      height: 30px;

      &:before {
        width: 100%;
        height: 3px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    & .PTH6HW_thumb {
      top: 50%;
    }
  }

  &[data-orientation="vertical"] {
    height: 150px;

    & .PTH6HW_label {
      display: none;
    }

    & .PTH6HW_track {
      width: 30px;
      height: 100%;

      &:before {
        width: 3px;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    & .PTH6HW_thumb {
      left: 50%;
    }
  }
}

.PTH6HW_dropzone {
  border: 2px solid #fff;
  outline: none;
  margin: 20px;
  padding: 20px;

  &[data-focus-visible][data-focused] {
    border: 2px dashed #00f;
  }

  &[data-drop-target] {
    border: 2px dashed orange;
  }
}

.PTH6HW_draggable {
  outline: none;

  &.PTH6HW_focus-ring {
    border: 2px solid #00f;
  }
}

.PTH6HW_copyable {
  outline: none;

  &.PTH6HW_focus-ring {
    border: 2px solid #00f;
  }
}

.PTH6HW_radiogroup {
  flex-direction: column;
  gap: 8px;
  display: flex;

  &[aria-orientation="horizontal"] {
    flex-direction: row;
    align-items: center;
  }

  & [slot="description"] {
    font-size: 12px;
  }

  & [slot="errorMessage"] {
    color: var(--spectrum-global-color-red-600);
    font-size: 12px;
  }
}

.PTH6HW_radio {
  --label-color: var(--spectrum-alias-text-color);
  --deselected-color: gray;
  --deselected-color-pressed: dimgray;
  --background-color: var(--spectrum-global-color-gray-50);
  --selected-color: slateblue;
  --selected-color-pressed: lch(38% 65.7776 296.794);
  --invalid-color: var(--spectrum-global-color-static-red-600);
  --invalid-color-pressed: var(--spectrum-global-color-static-red-700);
  color: var(--label-color);
  align-items: center;
  gap: .571rem;
  font-size: 1.143rem;
  display: flex;

  &:before {
    content: "";
    box-sizing: border-box;
    border: .143rem solid var(--deselected-color);
    background: var(--background-color);
    border-radius: 1.286rem;
    width: 1.286rem;
    height: 1.286rem;
    transition: all .2s;
    display: block;
  }

  &[data-pressed]:before {
    border-color: var(--deselected-color-pressed);
  }

  &[data-selected] {
    &:before {
      border-color: var(--selected-color);
      border-width: .429rem;
    }

    &[data-pressed]:before {
      border-color: var(--selected-color-pressed);
    }
  }

  &[data-invalid] {
    &:before {
      border-color: var(--invalid-color);
    }

    &[data-pressed]:before {
      border-color: var(--invalid-color-pressed);
    }
  }

  &[data-focus-visible]:before {
    box-shadow: 0 0 0 2px canvas,
      0 0 0 4px var(--selected-color);
  }

  &[data-disabled] {
    opacity: .4;
  }
}

.PTH6HW_toggleButtonExample[data-selected] {
  background-color: gray;
}

.PTH6HW_searchFieldExample [type="search"] {
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

.PTH6HW_switchExample {
  --label-color: var(--spectrum-alias-text-color);
  --deselected-color: gray;
  --deselected-color-pressed: dimgray;
  --selected-color: slateblue;
  --selected-color-pressed: #4a3ba6;
  --track-color: var(--spectrum-alias-background-color-default);
  --indicator-color: var(--selected-color);
  --indicator-color-pressed: var(--selected-color-pressed);
  color: var(--label-color);
  align-items: center;
  gap: .571rem;
  display: flex;

  & .PTH6HW_switchExample-indicator {
    border: 2px solid var(--deselected-color);
    background: var(--track-color);
    border-radius: 1.143rem;
    width: 2rem;
    height: 1.143rem;
    transition: all .2s;

    &:before {
      content: "";
      background: var(--indicator-color);
      border-radius: 16px;
      width: .857rem;
      height: .857rem;
      margin: .143rem;
      transition: all .2s;
      display: block;
    }
  }

  &[data-pressed] {
    & .PTH6HW_switchExample-indicator {
      border-color: var(--deselected-color-pressed);

      &:before {
        background-color: var(--indicator-color-pressed);
      }
    }
  }

  &[data-selected] {
    & .PTH6HW_switchExample-indicator {
      border-color: var(--selected-color);
      background: var(--selected-color);

      &:before {
        background-color: var(--track-color);
        transform: translateX(100%);
      }
    }

    &[data-pressed] {
      & .PTH6HW_switchExample-indicator {
        border-color: var(--selected-color-pressed);
        background: var(--selected-color-pressed);
      }
    }
  }

  &[data-focus-visible] .PTH6HW_switchExample-indicator {
    box-shadow: 0 0 0 2px var(--spectrum-alias-background-color-default),
      0 0 0 4px var(--selected-color);
  }

  &[data-disabled] {
    opacity: .4;
  }
}

.PTH6HW_textfieldExample {
  flex-direction: column;
  display: flex;

  & .PTH6HW_errorMessage {
    padding-bottom: 10px;
  }
}

input {
  outline: none;
}

input[aria-autocomplete][data-focus-visible] {
  outline: 3px solid #00f;
}

.PTH6HW_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

._7kCRhG_my-overlay {
  background: #00000080;
  position: fixed;
  inset: 0;

  &[data-entering] {
    animation: 5s _7kCRhG_fade;
  }

  &[data-exiting] {
    animation: 5s ease-in reverse _7kCRhG_fade;
  }
}

@keyframes _7kCRhG_fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

._7kCRhG_my-modal {
  border-left: 1px solid var(--spectrum-global-color-gray-400);
  background: #fff5ee;
  outline: none;
  width: 250px;
  padding: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: -8px 0 20px #0000001a;

  &[data-entering] {
    animation: 5s _7kCRhG_slide;
  }

  &[data-exiting] {
    animation: 5s ease-in reverse _7kCRhG_slide;
  }
}

@keyframes _7kCRhG_blur {
  from {
    backdrop-filter: blur();
    background: #2d000000;
  }

  to {
    backdrop-filter: blur(10px);
    background: #2d00004d;
  }
}

@keyframes _7kCRhG_slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.react-aria-ListBox {
  outline: none;
  flex-direction: column;
  width: fit-content;
  max-width: 100%;
  padding: 4px;
  display: flex;
  overflow: auto;

  &[data-orientation="horizontal"] {
    flex-direction: row;
  }

  &[data-drop-target] {
    outline-offset: -2px;
    background: #80008033;
    outline: 2px solid purple;
  }

  :is(& .react-aria-MenuItem, & .react-aria-ListBoxItem) {
    cursor: default;
    border-radius: 6px;
    outline: none;
    flex-direction: column;
    margin: 0;
    padding: 4px;
    display: flex;
    position: relative;

    & img {
      object-fit: cover;
      border-radius: 4px;
      width: 150px;
      height: 150px;
      margin-bottom: 4px;
      transition: box-shadow .2s;
    }

    &[data-hovered] {
      & img {
        box-shadow: 0 0 8px #6a5acd80;
      }
    }

    &[data-focus-visible] {
      box-shadow: inset 0 0 0 2px #6a5acd;
    }

    &[aria-selected="true"] {
      color: inherit;
      background: none;

      & img {
        box-shadow: 0 0 12px #6a5acdcc;
      }

      &:after {
        content: "✓";
        content: "✓" / "";
        alt: " ";
        color: #fff;
        box-sizing: border-box;
        background: #6a5acd;
        border: 2px solid #fff;
        border-radius: 22px;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        font-size: 14px;
        line-height: 1em;
        display: flex;
        position: absolute;
        top: 8px;
        right: 8px;
        box-shadow: 0 0 8px #00000080;
      }

      &[data-focus-visible] {
        box-shadow: inset 0 0 0 2px var(--highlight-background);
      }
    }

    &[data-dragging] {
      opacity: .6;
    }

    & [slot="label"] {
      font-weight: bold;
    }

    & [slot="description"] {
      font-size: small;
    }
  }
}

.react-aria-ListBox[data-layout="grid"] {
  flex-flow: wrap;
  max-width: 400px;
}

.react-aria-ListBox[data-layout="grid"][data-orientation="horizontal"] {
  flex-direction: column;
  width: 800px;
  max-width: 100vw;
  max-height: 150px;
  display: flex;

  & .react-aria-ListBoxItem {
    grid-template: "_7kCRhG_image ." 1fr
                   "_7kCRhG_image _7kCRhG_title"
                   "_7kCRhG_image _7kCRhG_description"
                   "_7kCRhG_image ." 1fr
                   / auto 1fr;
    column-gap: 8px;
    width: 250px;
    margin: 2px 0;
    display: grid;

    & img {
      grid-area: _7kCRhG_image;
      width: 50px;
      height: 50px;
      margin-bottom: 0;
    }

    & [slot="label"] {
      grid-area: _7kCRhG_title;
    }

    & [slot="description"] {
      grid-area: _7kCRhG_description;
    }
  }
}

.react-aria-DropIndicator[data-drop-target] {
  outline: 1px solid #6a5acd;
}

.react-aria-Table {
  border-collapse: collapse;

  &[data-drop-target] {
    outline-offset: -2px;
    background: #80008033;
    outline: 2px solid purple;
  }
}

.react-aria-Cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.react-aria-ColumnResizer {
  touch-action: none;
  box-sizing: border-box;
  background-color: gray;
  background-clip: content-box;
  border: 5px #0000;
  border-style: none solid;
  flex: none;
  width: 15px;
  height: 30px;

  &[data-resizable-direction="both"] {
    cursor: ew-resize;
  }

  &[data-resizable-direction="left"] {
    cursor: e-resize;
  }

  &[data-resizable-direction="right"] {
    cursor: w-resize;
  }
}

.react-aria-ColumnResizer[data-focus-visible] {
  background-color: orange;
}

.react-aria-ColumnResizer[data-resizing] {
  background-color: #0000;
  border-color: orange;
}

.react-aria-Toolbar {
  flex-wrap: wrap;
  gap: 20px;
  display: flex;

  &[data-orientation="vertical"] {
    flex-direction: column;
  }

  &[data-orientation="horizontal"] {
    flex-direction: row;
  }
}

.react-aria-Checkbox {
  --label-color: var(--spectrum-alias-text-color);
  --deselected-color: gray;
  --deselected-color-pressed: dimgray;
  --selected-color: darkslateblue;
  --selected-color-pressed: slateblue;
  --checkmark-color: white;
  --invalid-color: var(--spectrum-global-color-red-600);
  --invalid-color-pressed: var(--spectrum-global-color-red-700);
  color: var(--label-color);
  align-items: center;
  gap: .571rem;
  font-size: 1.143rem;
  display: flex;

  & .checkbox {
    border: 2px solid var(--deselected-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 1.143rem;
    height: 1.143rem;
    transition: all .2s;
    display: flex;
  }

  & svg {
    fill: none;
    width: 1rem;
    height: 1rem;
    stroke: var(--checkmark-color);
    stroke-width: 3px;
    stroke-dasharray: 22;
    stroke-dashoffset: 66px;
    transition: all .2s;
  }

  &[data-pressed] .checkbox {
    border-color: var(--deselected-color-pressed);
  }

  &[data-selected], &[data-indeterminate] {
    & .checkbox {
      border-color: var(--selected-color);
      background: var(--selected-color);
    }

    &[data-pressed] .checkbox {
      border-color: var(--selected-color-pressed);
      background: var(--selected-color-pressed);
    }

    & svg {
      stroke-dashoffset: 44px;
    }
  }

  &[data-invalid] {
    & .checkbox {
      border-color: var(--invalid-color);
    }

    &[data-pressed] .checkbox {
      border-color: var(--invalid-color-pressed);
    }

    &[data-selected], &[data-indeterminate] {
      & .checkbox {
        background: var(--invalid-color);
      }

      &[data-pressed] .checkbox {
        background: var(--invalid-color-pressed);
      }
    }
  }

  &[data-indeterminate] {
    & svg {
      stroke: none;
      fill: var(--checkmark-color);
    }
  }

  &[data-focus-visible] .checkbox {
    box-shadow: 0 0 0 2px var(--spectrum-alias-background-color-default),
      0 0 0 4px var(--selected-color);
  }

  &[data-disabled] {
    opacity: .4;
  }
}

:is(.react-aria-Meter, .react-aria-ProgressBar) {
  --fill-color: forestgreen;
  width: 250px;
  color: var(--text-color);
  grid-template-columns: 1fr auto;
  grid-template-areas: "_7kCRhG_label _7kCRhG_value"
                       "_7kCRhG_bar _7kCRhG_bar";
  gap: 4px;
  display: grid;

  & .value {
    grid-area: _7kCRhG_value;
  }

  & .bar {
    box-shadow: inset 0px 0px 0px 1px var(--spectrum-global-color-gray-400);
    border-radius: 5px;
    grid-area: _7kCRhG_bar;
    height: 10px;
    overflow: hidden;
  }

  & .fill {
    background: var(--fill-color);
    height: 100%;
  }
}

.react-aria-Disclosure {
  & .react-aria-Button[slot="trigger"] {
    background-color: #0000;
    border: none;
  }

  & .react-aria-Header {
    align-items: center;
    display: flex;
  }
}

._7kCRhG_popover-base, ._7kCRhG_tooltip-base {
  transform-origin: var(--trigger-anchor-point);

  & .react-aria-OverlayArrow {
    &[data-placement="bottom"] svg {
      transform: rotate(180deg);
    }

    &[data-placement="left"] svg {
      transform: rotate(-90deg);
    }

    &[data-placement="right"] svg {
      transform: rotate(90deg);
    }
  }
}

._7kCRhG_transition {
  transition: scale .3s, opacity .3s;

  &[data-entering], &[data-exiting] {
    opacity: 0;
    scale: .85;
  }
}

._7kCRhG_animation {
  animation: .3s _7kCRhG_enter;

  &[data-exiting] {
    animation: .3s _7kCRhG_exit;
  }
}

._7kCRhG_animation-delayed {
  &[data-entering] {
    animation: .3s _7kCRhG_enter;
  }

  &[data-exiting] {
    animation: .3s _7kCRhG_exit;
  }
}

@keyframes _7kCRhG_enter {
  from {
    opacity: 0;
    scale: .85;
  }
}

@keyframes _7kCRhG_exit {
  to {
    opacity: 0;
    scale: .85;
  }
}
