.IRbj6W_slider {
  touch-action: none;
  flex-direction: column;
  align-items: center;
  width: 300px;
  display: flex;
  position: relative;
}

.IRbj6W_sliderLabel {
  align-self: stretch;
  display: flex;
}

.IRbj6W_label, div[style="isolation: isolate; color-scheme: light;"] .IRbj6W_label {
  color: #707070;
}

.IRbj6W_value, div[style="isolation: isolate; color-scheme: light;"] .IRbj6W_value {
  color: #585858;
  margin-left: auto;
}

div[style="isolation: isolate; color-scheme: dark;"] .IRbj6W_label {
  color: #b0b0b0;
}

div[style="isolation: isolate; color-scheme: dark;"] .IRbj6W_value {
  color: #9a9a9a;
}

@media screen and (prefers-color-scheme: light) {
  div[style="isolation: isolate; color-scheme: light dark;"] .IRbj6W_label {
    color: #707070;
  }

  div[style="isolation: isolate; color-scheme: light dark;"] .IRbj6W_value {
    color: #585858;
  }
}

@media screen and (prefers-color-scheme: dark) {
  div[style="isolation: isolate; color-scheme: light dark;"] .IRbj6W_label {
    color: #b0b0b0;
  }

  div[style="isolation: isolate; color-scheme: light dark;"] .IRbj6W_value {
    color: #9a9a9a;
  }
}

.IRbj6W_thumb {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 4px;
  transform: translateX(-50%);
}

.IRbj6W_thumbHandle {
  box-sizing: border-box;
  background-color: #f5f5f5;
  border: 2px solid #707070;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  display: flex;
  box-shadow: 0 0 0 4px #f5f5f5;
}

.IRbj6W_thumbHandle label {
  color: #707070;
}

.IRbj6W_thumbFocusVisible .IRbj6W_thumbHandle {
  box-shadow: 0 0 0 2px #f5f5f5, 0 0 0 4px #2c83eb;
}

.IRbj6W_thumbFocused {
  z-index: 1;
  border-color: #2c83eb;
}

.IRbj6W_thumbDisabled {
  opacity: .5;
  cursor: not-allowed;
}

.IRbj6W_thumbDisabled label {
  cursor: inherit;
}

.IRbj6W_rail {
  background-color: #e4e4e4;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 13px;
}

.IRbj6W_filledRail {
  background-color: #707070;
  height: 3px;
  position: absolute;
  top: 13px;
  left: 0;
}

.IRbj6W_track {
  width: 100%;
  height: 30px;
  position: relative;
}

.IRbj6W_trackContainer {
  width: 100%;
  position: relative;
}

.IRbj6W_tip {
  margin-top: 8px;
}
