.hNAakW_outer-div {
  background-color: #333;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  height: 320px;
  margin-bottom: 1000px;
  display: flex;
}

.hNAakW_open-btn {
  background-color: #00f;
  padding: 10px;
  font-size: 32px;
}

.hNAakW_visit-link {
  color: #99f;
  font-size: 16px;
}

.hNAakW_fake-modal {
  background-color: #e0400080;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  height: 320px;
  display: flex;
  position: absolute;
}

.hNAakW_side-by-side {
  color: #fff;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.hNAakW_my-btn {
  cursor: pointer;
  background-color: green;
  padding: 5px;
}

.hNAakW_fake-modal h1 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 60px;
}

.hNAakW_fake-modal .hNAakW_close-btn {
  background-color: red;
  padding: 10px;
  font-size: 16px;
}

.hNAakW_OnPress {
  cursor: pointer;
  color: #fff;
}
